@import "tailwindcss";

:root {
  --background-image-header: url('./assets/header.png');
  --background-image-info: url('/info-bg.png'); /* info-bg.png 放在 public 資料夾 */
  --color-mint-500: oklch(0.72 0.11 178);
  --color-maincolor-30: oklch(0.7152 0.0819 169.73 / 30%);
}
.bg-info {
  background-image: var(--background-image-info);
  background-size: cover;
  background-position: center;
}
*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

